#sideBar
  .userArea
    .userArea__inner
      %p.userArea__name
        =current_user.name
      %ul.userArea__btn
        %li.userArea__btn--group
          =link_to new_group_path do
            = icon('far', 'edit', class: "btn__edit")
        %li.userArea__btn--account
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "btn__cog")

  .groupArea
    - current_user.groups.each do |group|
      .groupArea__box
        =link_to group_messages_path(group) do
          %p.groupArea__box--name
            = group.name
          %p.groupArea__box--messageInfo
            投稿はまだありません